<div class="container">
  <div class="row">
    <h2 id="title" class="center-align brown-text text-darken-1">Recipe Directory</h2>
  </div>
  {{outlet}}
</div>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}  
